.menu-button {
  position: fixed;
  top: 4px;
  left: 4px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  display: block;
  font-size: 25px;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.menu.open {
  display: flex;
  transform: translateX(0);
  padding-top: 80px;
}

.nav-item {
  padding: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 998;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .menu {
    display: none;
  }
}
